.About-site {
   padding: 10px;
}

.about-summary {
   font-size: 25px;
   margin: 25px;
   text-align: center;
}

.about-description {
   display: flex;
   justify-content: space-between;
   align-items: start;
   margin-top: 50px;
}

.about-experience span {
   color: blue;
   text-decoration: underline;
}


.about-certificate {
   display: flex;
   flex-direction: column;
   margin: 35px;
}

.about-certificate h2 {
   letter-spacing: 4px;
   text-align: center;
   margin: 35px;
}

.about-img {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.about-img img {
   /* display: block; */
   width: 350px;
   height: 220px;
   margin: 20px 50px;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.about-stack ul li,
.about-experience ul li,
.personal-qualities ul li {
   color: black;
   font-size: 18px;
   margin-left: 20px;
}

.about-stack ul,
.about-experience ul,
.personal-qualities ul {
   border-left: 1px solid gray;
   margin-top: 15px;
}

.about-link-cv {
   text-align: right;
}

.about-link-cv a {
   text-decoration: underline;
   color: blue;
   font-weight: 800;
   font-size: 14px;
}