  .Project3-style {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .Project3-input {
    padding: 0 20px 0 0;
    border-right: 1px solid gray;
  }

  #Project3-select {
    width: 160px;
    color: black;
    font-size: 12px;
  }

  .Project3-checkbox {
    margin: 15px 0;
    text-align: left;
    align-items: top;
  }

  label {
    margin-left: 15px;
    font-size: 14px;
  }

  .Project3-btn {
    background: gray;
    padding: 5px 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid white;
    letter-spacing: 1px;
    /* outline: none; */
    font-size: 14px;
    cursor: pointer;
    /* line-height: 14px; */
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
   transition: all 0.1s ease-in-out; */
  }

  #Project3-select option {
    color: black;
  }

  .Project3-out {
    width: 70%;
    font-size: 12px;
    text-align: left;
    padding: 0 15px 0 0;
  }

  .Project3-out ul li {
    margin: 20px;
    font-size: 14px;
    color: lightgray;
  }
  .Project3-out ul li span{
    /* font-weight: bold; */
    font-size: 16px;
    color: red;
  }
  .Project3-out ul li a{
    color: red;
    text-decoration: underline;
  }